.inner-wheel {
  position: absolute;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.play {
  font-weight: 600;
}

.number {
  font-weight: bold;
  color: #333;
}
