# dependencies
node_modules/

# build output
dist/

# local env files
.env
.env.local
.env.*.local

# editor directories and files
.vscode/
.idea/
*.suo
*.sln
*.sw?

# OS-specific files
.DS_Store
Thumbs.db

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

