.header {
  position: relative;
  width: 620px; /* rộng hơn để đủ 1 dòng */
  margin: 15px auto 0px auto; /* kéo header lên trên */
  text-align: center;
}

/* container chữ */
.header-text {
  position: relative;
  z-index: 2;
}

/* dòng 1 */
.title-top {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #ffffff;
  white-space: nowrap; /* không cho xuống dòng */
  -webkit-text-stroke: 0.2px #000;
  text-shadow:
    0 0 2px #ff4fd8,
    0 0 6px #ff4fd8;
}

/* dòng 2 (Phòng đào tạo) */
.title-middle {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
  -webkit-text-stroke: 0.2px #000;
  text-shadow:
    0 0 2px #ff4fd8,
    0 0 6px #ff4fd8;
}

/* khung chữ chạy */
.title-bottom-wrapper {
  width: 100%;
  overflow: hidden;
}

/* dòng 3*/
.title-bottom {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffd600;
  -webkit-text-stroke: 0.2px #000;
  animation: marquee 8s linear infinite;
}

/* chữ chạy */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-230%);
  }
}

/* khung chấm hồng */
.header-dots {
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  pointer-events: none;
  background: radial-gradient(circle, #ff00cc 4px, transparent 6px);
  background-size: 21px 21px;
  animation: dotsMove 6s linear infinite;
}

@keyframes dotsMove {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 18px 18px;
  }
}

/* =============================
   BREAK LINE MOBILE
============================= */
.break-mobile {
  display: inline; /* desktop: 1 dòng */
}

@media (max-width: 768px) {
  .title-top {
    font-size: 12px; /* giảm chữ cho mobile */
  }

  .title-middle {
    font-size: 12px;
  }

  .title-bottom {
    font-size: 16px;
  }

  .header {
    width: 100%;
    max-width: 320px;
    margin: -30px auto 0 auto;
  }

  .header-dots {
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 6px;
    background-size: 12px 12px;
  }
}
