.led-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.led {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  /*lõi màu (QUAN TRỌNG NHẤT) */
  background: #ff00cc;

  /*glow nhẹ thôi */
  box-shadow:
    0 0 2px #ff4fd8,
    0 0 6px #ff4fd8;

  animation: blink 0.9s infinite alternate;
  filter: brightness(1.1);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
